{% extends 'live/base.html' %}
{% block content %}
{% load static %}
    <div class="bg-1">
        <div class="home-text">
            <h1>FOREX PERFORMANCE TRACKER</h1>
            <div class="bar-container">
                <img class='img-responsive' src="{% static '/assets/img/homepage-bar2.png' %}" id="homepage-bar"/>
                <h2>TRACK YOUR FOREX PERFORMANCE WITH OUR ONLINE TOOLS</h2>
            </div>
            <div class="ghost-1">
                <h3>I</h3>
            </div>
            {% if user.is_authenticated %}
                <a class="ui primary button" id="logoutButton" href="{% url 'users:logout' %}">Logout</a>
            {% else %}
                <a class="ui primary button" id="loginButton" href="{% url 'users:login' %}">Login</a>
            {% endif %}
            <a class="ui primary button" id="submitButton" href="{% url 'users:sign_up' %}">Sign Up</a>
        </div>
    </div>

{% endblock %}